<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/stylesheets/bootstrap.css"/>

    <script src="/javascripts/jquery-2.1.1.js"></script>
    <script src="/javascripts/bootstrap.js"></script>

</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-12" id="display">
            <%- results.title%>
            <%- results.content%>
        </div>
    </div>
</div>

</body>
</html>
